<!-- use the twitter bootstrap to create a nice looking edit page -->
<h1>Update a Post</h1>

<%= simple_form_for @post, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
    <% if @post.errors.any? %>
 		<h2>Errors:</h2>
 		<ul>
 			<% @post.errors.full_messages.each do |message| %>
 				<li><%= message %></li>
 			<% end %>
 		</ul>
	<% end %>
	<p>
      <%= f.input :title %>
  	</p>
	<p>
      <%= f.input :content %>
	</p>
	<p>
		<%= f.input :photo %>
	<p>
	<p>
		<%= f.association :categories, :as => :check_boxes %>
	</p>
	<p>
	  <%= f.submit "Update Post" %>
	</p>
<% end %>
	