<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #0099ff">

<% flash.each do |key, value| %>
  <%= value %>
<% end %>
<!-- Twitter bootstrap top navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">The Bloggers House</a>
		</div>
	</div>
</div>
<br><br>
<div style="width: 800px; margin-right: auto; margin-left: auto; border: 10px; background-color: #FFFFFF; padding: 10px">
  <div>
    <% if user_signed_in? %>
     Signed in as <%= current_user.name %>. Not you?
     <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
     <% else %>
       <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
       <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
       <% end %>
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
   <% end %>

  <%= yield %>
</div>
</body>
</html>
